<section class="hero is-black">
  <div class="hero-body">
    <div class="container">
      <p class="title is-3">Rate My Cakes</p>
    </div>
  </div>
</section>
<section class="container">
  <div class="columns">
    <div class="column is-one-third">
      <!-- Submission form-->
        <div class="container">
          <p class="title"> Put Your Cake Here</p>
          <form (submit) = "postCake()">
            <p>{{newCake.baker}} {{newCake.imgUrl}}</p>
            <div class="level">
              <label for="newCake.baker">Baker Name:</label>
            </div>
            <div class="level">
              <input type="text" name="newCake.baker" [(ngModel)]="newCake.baker"/>
            </div>
            <!-- https://goo.gl/images/JQhq6Q-->
            <!-- https://goo.gl/images/PxY2SB-->
            <!-- https://goo.gl/images/2c5cdd-->
            <!-- https://goo.gl/images/PxY2SB-->
            <div class="level">
              <label for="newCake.imgUrl">Image url: </label>
            </div>
            <div class="level">
              <input type="text" name="newCake.imgUrl" [(ngModel)]="newCake.imgUrl" />
            </div>
            <div class="level">
              <button class="button">SUBMIT</button>
            </div>
          </form>
        </div>
      </div>
    <div class="column is-two-thirds">
      <!-- for loop here -->
      <div *ngFor = "let cake of allCakes.data" class="card" >
        <div class="card-image">
          <figure class="image is-128x128">
            <img src="{{cake.imgUrl}}" alt="WRONG" (click) = "showCake(cake._id)">
          </figure>
        </div>
        <p class = "title is-6">Baked by: {{cake.baker}}</p>
        <p>{{newRating.cakeId}} {{newRating.score}} {{newRating.comment}}</p>
        <form class="card-content" (submit) = "postRating(newRating,cake._id)">
          <div class = "level">
            <label for = "newRating.score">Rating:</label>
          </div>
          <div class="level">
            <select name="newRating.score" [(ngModel)]="newRating.score">
              <option value = "5">5 Stars</option>
              <option value = "4">4 Stars</option>
              <option value = "3">3 Stars</option>
              <option value = "2">2 Stars</option>
              <option value = "1">1 Star</option>
            </select>
          </div>
          <div class = "level">
            <label for = "newRating.comment" >Comment:</label>
          </div>
          <div class="level">
            <textarea name="newRating.comment" [(ngModel)]="newRating.comment"></textarea>
          </div>
          <div class="level">
            <button class="button" value = "{{cake._id}}">Rate</button>
          </div>
        </form>
      </div>
      <!-- end for loop-->
    </div>
  </div>
</section>
<section class="section">
  <app-cake *ngIf = "cakeToShow" [cakeToShow]="cakeToShow" [avgRating] = "avgRating"></app-cake>
</section>